<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyf.hap.mapper.OmOrderLinesMapper">
    <resultMap id="BaseResultMap" type="com.yyf.hap.dto.OmOrderLines">
        <result column="LINE_ID" property="lineId" jdbcType="DECIMAL" />
        <result column="HEADER_ID" property="headerId" jdbcType="DECIMAL" />
        <result column="LINE_NUMBER" property="lineNumber" jdbcType="DECIMAL" />
        <result column="INVENTORY_ITEM_ID" property="inventoryItemId" jdbcType="DECIMAL" />
        <result column="ORDERD_QUANTITY" property="orderdQuantity" jdbcType="DECIMAL" />
        <result column="ORDER_QUANTITY_UOM" property="orderQuantityUom" jdbcType="VARCHAR" />
        <result column="UNIT_SELLING_PRICE" property="unitSellingPrice" jdbcType="DECIMAL" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="ADDITION1" property="addition1" jdbcType="VARCHAR" />
        <result column="ADDITION2" property="addition2" jdbcType="VARCHAR" />
        <result column="ADDITION3" property="addition3" jdbcType="VARCHAR" />
        <result column="ADDITION4" property="addition4" jdbcType="VARCHAR" />
        <result column="ADDITION5" property="addition5" jdbcType="VARCHAR" />
        <!--添加要用到的结果集字段-->
        <result column="ITEM_DESCRIPTION" property="itemDescription" jdbcType="VARCHAR" />
        <result column="ITEM_UOM" property="itemUom" jdbcType="VARCHAR" />
        <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectPriceAndNum" parameterType="long" resultMap="BaseResultMap">
        select * from hap_om_order_lines t where t.HEADER_ID = #{headerId}
    </select>

    <select id="getLinNum" resultType="long">
        select @rowno:=@rowno+1 as rowno,l.* from hap_om_order_lines l,(select @rowno:=0) t
    </select>
    <select id="selectOrderLines" resultMap="BaseResultMap">
        select * from hap_om_order_lines t, hap_inv_inventory_items j
        <where>
            t.INVENTORY_ITEM_ID = j.INVENTORY_ITEM_ID
            <if test="headerId != null">
                and t.HEADER_ID = #{headerId, jdbcType = DECIMAL}
            </if>
        </where>
    </select>

    <select id="selectLine" parameterType="long" resultMap="BaseResultMap">
        SELECT I.ITEM_CODE,
        I.ITEM_DESCRIPTION,
        T.ORDER_QUANTITY_UOM,
        T.ORDERD_QUANTITY,
        T.UNIT_SELLING_PRICE,
        T.DESCRIPTION
        FROM HAP_OM_ORDER_LINES T,
        HAP_INV_INVENTORY_ITEMS I
        <where>
            I.INVENTORY_ITEM_ID = T.INVENTORY_ITEM_ID AND T.HEADER_ID = #{headerId};
        </where>

    </select>

    <update id="updateLinesNum" parameterType="long">
        UPDATE hap_om_order_lines B,
        (
        SELECT
          @rowno :=@rowno + 1 AS rowno,
         r.*
          FROM hap_om_order_lines r,
          (SELECT @rowno := 0) t
          WHERE HEADER_ID = 292
        ) A
        SET B.LINE_NUMBER = rowno
        WHERE A.LINE_ID = B.LINE_ID;
    </update>

    <delete id="deleteByHeaderId" parameterType="long">
        delete from hap_om_order_lines
        <where>
            HEADER_ID = #{headerId}
        </where>
    </delete>

</mapper>